body {
    font-family: satoshi;
    margin: 0;
    background-color: #F7DFFF;
  }
  
  header {
    background-color: #8a18bb;
    color: white;
    padding: 20px;
    display: flex; /* Use flexbox for better alignment */
    justify-content: space-between; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
  }
  
  header img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
  }

  header nav ul li {
    font-size: 25px;
  }
  
  #bac {
      font-weight: bolder;
      font-size: 32px;
  }

  nav {
    display: flex;
    justify-content: flex-start;
  }

  .logotext {
    display: flex;
    justify-content: flex-start;
  }

  .main_title {
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: bolder;
  }

  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-grow: 1;
  }
  
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  nav li {
    margin: 0 20px;
    align-self: flex-end;
  }
  
  nav a {
    color: white;
    text-decoration: none;
  }
  
.active {
    text-decoration: underline;
    color: #ed61fa;
}

.active:hover {
    color: white;
    text-decoration: none;
}
  
  .mode {
    background-color: #ed61fa;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    width: calc(30% - 20px);
    height: auto;
    transition: 0.3s ease-in-out;
    
  }

  .mode:hover {
    background-color: rgb(202, 29, 236);
    box-shadow: inset 0px 0px 15px #561a5c;
    transform: scale(0.95);
  }
  
  .mode img {
    max-width: 100%;
    height: auto;
  }


.more a {
    text-decoration: underline;
    color: #8a18bb;
}
  
  footer {
    display: flex;
    justify-content: space-around;
    background-color: #8a18bb;
    color: white;
    padding: 20px;
    bottom: 0;  
  } 

footer a {
    text-decoration: none;
    color: #F7DFFF;
}

.map {
    background-color: #ed61fa;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    width: calc(30% - 20px);
    height: 500px;  
    transition: 0.3s ease-in-out;
    
  }

  .map:hover {
    background-color: rgb(202, 29, 236);
    box-shadow: inset 0px 0px 15px #561a5c;
    transform: scale(0.95);
  }
  
  .map img {
    max-width: 100%;
    height: auto;
  }

  .section {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .section h2 {
    font-size: 24px; /* Adjust font size as needed */
    margin-bottom: 10px; /* Add spacing between heading and mode */
  }

  .game-mode {
    margin: 20px; 
  }
  
  .game-mode h2 {
    font-size: 24px;
    margin-bottom: 10px; 
  }
  
  .map {
    background-color: #ed61fa;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: auto;
    height: auto;
  }
  
  .map img {
    max-width: 100%;
    height: auto;
  }

  .map p {
    font-weight: bold;
    font-size: 25px;
    margin-top: 5px;
  }

  .maps {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

.game-mode h2 {
  font-size: 40px;
  text-align: center;
  font-weight: bolder;
}

@media screen and (max-width:768px) {
    ul {
        display: flex;
        flex-wrap: wrap;
    }
}

.main-section {
  opacity: 0;
  transform: translateY(-20px); /* Add a slight upward translation for initial offset */
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; /* Set transition duration and easing */
}

.main-section.loaded {
  opacity: 1;
  transform: translateY(0); /* Reset the translation */
}

.main_title {
  opacity: 0;
  transform: translateY(-20px); /* Add a slight upward translation for initial offset */
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; /* Set transition duration and easing */
}

.main_title.loaded {
  opacity: 1;
  transform: translateY(0); /* Reset the translation */
}

main a {
  text-decoration: none;
  color: #2c043d;
}

.mappage {
  display: flex;
  justify-content: flex-start;
}