body {
    font-family: satoshi;
    margin: 0;
    background-color: #F7DFFF;
  }
  
  header {
    background-color: #8a18bb;
    color: white;
    padding: 20px;
    display: flex; /* Use flexbox for better alignment */
    justify-content: space-between; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
  }
  
  header img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
  }

  header nav ul li {
    font-size: 25px;
  }
  
  #bac {
      font-weight: bolder;
      font-size: 32px;
  }

  nav {
    display: flex;
    justify-content: flex-start;
  }

  .logotext {
    display: flex;
    justify-content: flex-start;
  }

  .main_title {
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: bolder;
  }

  main {
    display: flex;
    justify-content: center;
    flex-grow: 1;
  }

  .modes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  nav li {
    margin: 0 20px;
    align-self: flex-end;
  }
  
  nav a {
    color: white;
    text-decoration: none;
  }
  
.active {
    text-decoration: underline;
    color: #ed61fa;
}

.active:hover {
    color: white;
    text-decoration: none;
}
  
  .mode {
    background-color: #ed61fa;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    width: calc(30% - 20px);
    height: auto;
    transition: 0.3s ease-in-out;
    
  }

  .mode:hover {
    background-color: rgb(202, 29, 236);
    box-shadow: inset 0px 0px 15px #561a5c;
    transform: scale(0.95);
  }
  
  .mode img {
    max-width: 100%;
    height: auto;
  }


.more a {
    text-decoration: underline;
    color: #8a18bb;
}
  
  footer {
    display: flex;
    justify-content: space-around;
    background-color: #8a18bb;
    color: white;
    padding: 20px;
    bottom: 0;  
  } 

footer a {
    text-decoration: none;
    color: #F7DFFF;
}

.map {
    background-color: #ed61fa;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    width: calc(30% - 20px);
    height: 500px;  
    transition: 0.3s ease-in-out;
    
  }

  .map:hover {
    background-color: rgb(202, 29, 236);
    box-shadow: inset 0px 0px 15px #561a5c;
    transform: scale(0.95);
  }
  
  .map img {
    max-width: 100%;
    height: auto;
  }

  .section {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .section h2 {
    font-size: 24px; /* Adjust font size as needed */
    margin-bottom: 10px; /* Add spacing between heading and mode */
  }

  
  .game-mode h2 {
    font-size: 24px;
    margin-bottom: 10px; 
  }
  
  .map {
    background-color: #ed61fa;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: auto;
    height: auto;
  }
  
  .map img {
    max-width: 100%;
    height: auto;
  }

  .map p {
    font-weight: bold;
    font-size: 25px;
    margin-top: 5px;
  }

  .maps {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

.game-mode h2 {
  font-size: 40px;
  text-align: center;
  font-weight: bolder;
}


main a {
  text-decoration: none;
  color: #2c043d;
}


.main-section {
  display: flex;
  flex-direction: column;
}

.img1st img {
  width: 100px;
}

.img6th img {
  width: 100px;
}

.pk1st, .pk6th {
  display: flex;
  width: 250px;
  flex-wrap: wrap;
}

.bwmain {
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: space-between;
  align-items: center;
}

.pkmain {
  display: flex;
  justify-content: space-around;
  width: auto;
  flex-wrap: wrap;
}

.imgother img {
  width: 100px;
}

.bwother {
  display: flex;
  justify-content: space-between;
  width: 750;
}

.pkother {
  display: flex;
  flex-direction: column;
  width: 950px;
}

.pkimg {
  display: flex;
  flex-direction: column;
  width: 0 auto;
}

.maindraft {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.picks {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bwlogo {
  width: 200px;
  align-self: center;
}

.drafttitle {
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
}

@media screen and (max-width:768px) {
  ul {
      display: flex;
      width: auto;
      flex-direction: column;
  }

  .main-section {
    display: flex;
    flex-direction: column;
  }

  .pkimg {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .img1st {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; 
  }

  .img6th {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; 
  }

  .bwmain {
      display: flex;
      flex-direction: row;
      width: 200px;
      justify-content: space-between;
      height: 50px;
  }

  .pkmain {
    display: flex;
    flex-direction: column;
    width: auto;
    align-content: center;
  }

  .pk1st, .pk6th {
    display: flex;
    justify-content: center;
  }

  .pk6th {
    margin-bottom: 20px;
  }

  .imgother {
    display: flex;
  }

  .pkother {
    display: flex;
    flex-direction: column;
    width: auto;
    align-content: center;
    margin-bottom: 40px;
  }

  .imgother {
    flex-wrap: wrap;
    width: 310px;
    gap: 5px;
  }

  .bwother {
    display: none;
  }

  .bwlogo {
    display: none;
  }
  
}