body {
    font-family: satoshi;
    margin: 0;
    background-color: #F7DFFF;
  }
  
  header {
    background-color: #8a18bb;
    color: white;
    padding: 20px;
    display: flex; /* Use flexbox for better alignment */
    justify-content: space-between; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
  }
  
  header img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
  }

  header nav ul li {
    font-size: 25px;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-grow: 1;
  }
  
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  nav li {
    margin: 0 20px;
    align-self: flex-end;
  }
  
  nav a {
    color: white;
    text-decoration: none;
  }
  
  
  .mode {
    background-color: #ed61fa;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    width: 300px;
    height: 300px;
    transition: 0.3s ease-in-out;
  }

  .mode:hover {
    background-color: rgb(202, 29, 236);
    box-shadow: inset 0px 0px 15px #561a5c;
    transform: scale(0.95);
  }
  
  .mode img {
    max-width: 100%;
    height: auto;
  }

  .mode img {
    max-width: 80%;
    height: auto;
  }

.more a {
    text-decoration: underline;
    color: #8a18bb;
}
  
  footer {
    background-color: #8a18bb;
    color: white;
    padding: 20px;
    text-align: center;
    bottom: 0;  
  }